.wedocs-shortcode-wrap ul.wedocs-docs-list li.wedocs-docs-single{
    -webkit-box-shadow: inherit;
border: 0;
}
.wedocs-breadcrumb{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.wedocs-breadcrumb [class^='wedocs-icon-'], [class*=' wedocs-icon-']{
    margin:0 5px;
}
.wp-body{
    padding: 15px;
}
.wedocs-shortcode-wrap ul.wedocs-docs-list ul.wedocs-doc-sections li{
    list-style: inherit;
}
.wp-body-container{
    background: #fff;
}
.wedocs-single-wrap .ltp-single-content{
    /*padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);*/


    padding: 15px;
}
.wedocs-single-wrap .ltp-single-content article.docs{
    padding: 0 15%;
}
@media screen and (max-width: 640px) {
    .wedocs-single-wrap .ltp-single-content{
        margin: 0;
    }
    .wedocs-single-wrap .ltp-single-content article.docs{
        padding: initial;
    }
}
.ltp-sidebar{
    background-color: #fafafa;
}
.ltp-single-content .wedocs-breadcrumb{
    margin-bottom: 0!important;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer time{
    font-style: normal!important;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list{
    padding: 12px;
    margin-bottom: 12px;
}
.heti .entry-title{
    /*margin-block-start:0*/
}

.wp-code pre{
    margin: 10px 0;
}

.wedocs-single-wrap .ltp-sidebar h3.widget-title {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}

.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li > a:before {
    content: '\f07c';
    margin-right: 10px;
    font-family: 'wedocs';
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-open > a > .wedocs-caret,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-closed > a > .wedocs-caret {
    float: right;
    line-height: inherit;
    padding: 0 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #999;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-open > a > .wedocs-caret:hover,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-closed > a > .wedocs-caret:hover {
    border: 1px solid #eee;
    color: #ccc;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-open > a > .wedocs-caret::before,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-closed > a > .wedocs-caret::before {
    font-family: 'wedocs' !important;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-open > a > .wedocs-caret::before {
    content: '\f106';
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-closed > a > .wedocs-caret::before {
    content: '\f107';
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li.wd-state-closed ul.children {
    display: none;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li a {
    display: block;
    padding: 8px 10px 8px 20px;
    text-decoration: none;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li ul.children {
    list-style: none;
    margin: 15px 0 15px 26px;
    padding: 0;
    border: none;
    border-left: 1px solid #ddd;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list li ul.children a {
    color: #333333;
    font-weight: normal;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_parent > a,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_item > a,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_ancestor > a {
    background: var(--wp-theme-color);
    color: #fff;
    border-radius: 5px;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_parent > a .wedocs-caret,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_item > a .wedocs-caret,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_ancestor > a .wedocs-caret {
    color: #fff;
    display: none;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_parent li.current_page_item > a, .wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_item li.current_page_item > a, .wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_ancestor li.current_page_item > a {
    border-left: 2px solid #3598DB;
    color: #191919;
    font-weight: bold;
    margin-left: -1.5px;
}
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_parent ul.children,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_item ul.children,
.wedocs-single-wrap .ltp-sidebar ul.doc-nav-list > li.current_page_ancestor ul.children {
    display: block;
}
.heti{
    color:#262626;
    font-size: 14px;
}
.heti p{
    color:#404040
}

.wedocs-single-wrap .ltp-single-content {
    border-left: 1px solid #eee;
    padding-left: 25px;
}
.wedocs-single-wrap .ltp-single-content ol.wedocs-breadcrumb {
    margin-bottom: 30px;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.wedocs-single-wrap .ltp-single-content ol.wedocs-breadcrumb li {
    display: inline;
}
.wedocs-single-wrap .ltp-single-content ol.wedocs-breadcrumb li.delimiter {
    color: #999;
    margin: 0 2px;
}
.wedocs-single-wrap .ltp-single-content ol.wedocs-breadcrumb a {
    text-decoration: none;
}
.wedocs-single-wrap .ltp-single-content article {
    position: relative;
}
.wedocs-single-wrap .ltp-single-content article a.wedocs-print-article {
    position: absolute;
    right: 0;
    top: 0;
    color: #777;
}
.wedocs-single-wrap .ltp-single-content article a.wedocs-print-article:hover {
    color: #555;
}
.wedocs-single-wrap .ltp-single-content article .entry-content {
    width: 100% !important;
    float: none !important;
    display: block;
}
.wedocs-single-wrap .ltp-single-content article .entry-content a.anchorjs-link {
    text-decoration: none;
    box-shadow: none !important;
}
.wedocs-single-wrap .ltp-single-content article .entry-content img {
    max-width: 100%;
    height: auto;

}

.wedocs-single-wrap .ltp-single-content article .entry-content dl {
    margin-bottom: 1em;
}
.wedocs-single-wrap .ltp-single-content article .entry-content dl dt {
    float: left;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 4px 9px;
    margin-bottom: 1em;
    font-size: 18px;
    line-height: 1.2em;
    border-radius: 50px;
    color: #fff;
    background: #3197d1;
    vertical-align: baseline;
    white-space: nowrap;
    font-size: 15px;
    min-width: 9px;
    position: relative;
    top: 2px;
}
.wedocs-single-wrap .ltp-single-content article .entry-content dl dd {
    padding-top: 3px;
    margin: 0 0 5px 45px;
}
.wedocs-single-wrap .ltp-single-content article .entry-content dl dd:before,
.wedocs-single-wrap .ltp-single-content article .entry-content dl dd:after {
    display: table;
    content: "";
    line-height: 0;
}
.wedocs-single-wrap .ltp-single-content article .entry-content dl dd:after {
    clear: both;
}
.wedocs-single-wrap .ltp-single-content article .entry-content .wedocs-callout {
    border-left: 5px solid;
    color: #333;
    font-size: 14px;
    margin-bottom: 2em;
    padding: 16px 25px 16px 20px;
    background: #f1f1f1;
    border-color: #cfcfcf;
}
.wedocs-single-wrap .ltp-single-content article .entry-content .wedocs-callout.callout-yellow {
    background: #fffcd5;
    border-color: #e7dca4;
}
.wedocs-single-wrap .ltp-single-content article .entry-content .wedocs-callout.callout-blue {
    background: #e8f4ff;
    border-color: #bed1e6;
}
.wedocs-single-wrap .ltp-single-content article .entry-content .wedocs-callout.callout-green {
    background: #e5fadc;
    border-color: #bbdaaf;
}
.wedocs-single-wrap .ltp-single-content article .entry-content .wedocs-callout.callout-red {
    background: #fde8e8;
    border-color: #e7aaaa;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer {
    margin-top: 60px;
    float: none;
    width: 100%;
    display: block;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer:before,
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer:after {
    content: " ";
    display: table;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer:after {
    clear: both;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer .wedocs-article-author {
    display: none;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer .wedocs-help-link a {
    border-bottom: 1px dotted #C5C5C5;
    text-decoration: none;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer .wedocs-help-link a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
.wedocs-single-wrap .ltp-single-content article footer.entry-footer.wedocs-entry-footer time {
    float: right;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}
.wedocs-single-wrap .ltp-single-content .wedocs-comments-wrap {
    position: relative;
}
.js-toc{
    padding: 15px;
}
.is-active-link::before{
    background-color:var(--wp-theme-color)!important;
}
.wedocs-feedback-wrap a.positive{
    background: var(--wp-theme-color)!important;
    border: 1px solid var(--wp-theme-color)!important;
}
.wedocs-feedback-wrap a.negative {
    background: none;
    border: 1px solid var(--wp-theme-color)!important;
    color:var(--wp-theme-color)!important;
}
.wedocs-feedback-wrap a.negative:hover{
    background: none;
    border: 1px solid var(--wp-theme-color)!important;
    color:var(--wp-theme-color)!important;
}
.wedocs-shortcode-wrap ul.wedocs-docs-list li.wedocs-docs-single .inside {
    padding: 5px 0!important;
     min-height: 0px!important;
    margin-bottom: .5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 .doc-list-meta {
     display: flex;
     flex-wrap: wrap;
     padding: 10px 20px 0px;
     border-top: 1px dashed #b7b7b7;
     justify-content: space-between;
     margin-top: 15px;
}
.doc-list-meta i {
    color: #bbb;
    min-width: 17px;
}
.doc-list-meta, .doc-list-meta a{
    color: #32373c;
    font-size: 12px;
}
.wedocs-docs-single .project-top {
    padding: 15px;
}
.wedocs-docs-single .card-body{
padding:15px 0 15px;
}
.wedocs-docs-single img {
    height: auto;
    max-width: 100%;
}
.wedocs-docs-single i {
    margin-right: 10px;
}
.project-top .col-7{
    display: flex;
    flex-direction: column;
}
.project-top .btn{
    margin-top: auto;
}
.toc-list-item{
    position: relative;
padding-left: 10px;
    display: block;
    font-size: 13px;
}
.toc-list  .toc-list  .toc-list-item{
    padding: 5px 0 5px 10px;
}
.is-active-link{
    color: var(--wp-theme-color)!important;
    font-weight: inherit!important;
}
.project-top .col-5 .docs-placeholder{
    height: 180px;
    background: var(--wp-theme-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    font-size: 20px;
    text-align: center;
}

.toc-list > li > .node-name--H2 {
    position: relative;
    padding: 5px 0 5px 10px;
    display: block;
}
.toc-list > li > .node-name--H2::before{
    top: 0;
}
#breadcrumbs{
    color: rgba(0, 0, 0, .65); 
}
.wp-block-code code{
    width: 100%;
}
.wedocs-shortcode-wrap ul.wedocs-docs-list ul.wedocs-doc-sections{
    overflow: hidden;

    display: -webkit-box;

    text-overflow:ellipsis;

    -webkit-line-clamp:4;

    -webkit-box-orient: vertical
}
@media (min-width: 992px) {
    .js-toc {
        position:-webkit-sticky;
        position: sticky;
        top: 6rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto
    }
}
@media (min-width: 768px) {
    .ltp-sidebar {
        position:-webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto
    }
}