@charset "UTF-8";
:root {
  --wp-theme-bgcolor: #f0f2f5;
  --bd-accent: #ffe484;
  --bs-dropdown-border-width: 0; }

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.card-text {
  color: #677788; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.bd-btn-lg {
  padding: .8rem 2rem; }

.content-space-t-2 {
  padding-top: 5rem !important; }

.content-space-t-3 {
  padding-top: 7.5rem !important; }

.content-space-2 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.h7 {
  font-size: 0.9rem; }

.icon-shape {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.icon-shape-primary {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.2); }

.m-mouse-icon {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid var(--bs-primary);
  border-radius: 20px;
  bottom: 10vh;
  height: 40px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 25px;
  cursor: pointer;
  transition: all .3s linear; }
  .m-mouse-icon .m-wheel {
    animation: 1.5s ease 0s normal none infinite magic-mouse-icon;
    border-radius: 100%;
    height: 5px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 5px;
    background: var(--bs-primary); }
  .m-mouse-icon:hover {
    opacity: .3 !important;
    transition: all 0.3s linear; }

@-webkit-keyframes magic-mouse-icon {
  0% {
    margin-top: 6px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 18px;
    opacity: 0; } }
@media (min-width: 992px) {
  .content-space-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .min-vh-lg-93 {
    min-height: 93vh !important; }

  .min-vh-lg-100 {
    min-height: 100vh !important; } } 
.masthead-notice {
  background-color: var(--bd-accent);
  box-shadow: inset 0 -1px 1px rgba(var(--bs-body-color-rgb), 0.15), 0 0.25rem 1.5rem rgba(var(--bs-body-bg-rgb), 0.75); }

.dropdown-menu {
  min-width: 10rem;
  margin: 0;
  font-size: .875rem;
  color: #677788;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: .5rem;
  box-shadow: 0 0.6125rem 2.5rem 0.6125rem rgba(141, 153, 165, 0.18); }

.dropdown-item {
  border-radius: .3125rem; }

.bd-navbar {
  padding: .75rem 0;
  z-index: 1;
  top: 0; }

.navbar.position-sticky.navbar-light {
  background-color: #fff;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(139, 151, 162, 0.13); }

img.avatar {
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
  margin: 0 5px 0 0; }

.avatar-40 {
  max-height: 40px;
  max-width: 40px; }

.avatar-25 {
  max-height: 25px;
  max-width: 25px; }

.navbar-expand-md .navbar-collapse section {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.list-pointer-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='%2371869d' d='M15.78,11.28a.75.75,0,0,1,.22.53v.38a.77.77,0,0,1-.22.53l-5.14,5.13a.5.5,0,0,1-.71,0l-.71-.71a.49.49,0,0,1,0-.7L13.67,12,9.22,7.56a.5.5,0,0,1,0-.71l.71-.7a.5.5,0,0,1,.71,0Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.25rem 1.25rem;
  content: '';
  margin: auto;
  bottom: 0; }

.list-pointer-item {
  position: relative;
  color: #677788;
  padding-left: 1.75rem; }
  .list-pointer-item:not(:last-child) {
    margin-bottom: .5rem; }

.card-sm > .card-footer, .card-sm > .card-header {
  padding: 1.25rem 1.25rem; }

.main-body {
  background: var(--wp-theme-bgcolor);
  flex: 1;
  padding: 1.5rem; }

.link-sm {
  font-size: .875rem; }

.btn-check:focus + .btn-soft-secondary, .btn-soft-secondary:focus, .btn-soft-secondary:hover {
  color: #fff;
  background-color: #71869d; }

/*首页*/
.bd-masthead {
  --bd-pink-rgb: 214, 51, 132;
  padding: 3rem 0; }

.btn-soft-secondary {
  color: #71869d;
  background-color: rgba(113, 134, 157, 0.1);
  border-color: transparent; }

.navbar-brand-logo {
  width: 100%;
  min-width: 9.5rem;
  max-width: 9.5rem; }

[class*=text-highlight-] {
  background: left 1em/1em .2em repeat-x; }

.typed-cursor.typed-cursor--blink {
  animation: typedjsBlink 0.7s infinite; }

@keyframes typedjsBlink {
  50% {
    opacity: 0.0; } }
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }
.text-highlight-warning {
  background-image: linear-gradient(to bottom, rgba(245, 202, 153, 0.5), rgba(245, 202, 153, 0.5)); }

.wp-img-ground .card {
  display: flex;
  justify-content: center;
  padding: 33% 10px 10px;
  position: relative;
  margin-bottom: 1rem; }

.wp-img-ground .card a {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

.wp-img-ground .card a img {
  object-fit: cover;
  margin: auto;
  width: 75%;
  max-height: 100%; }

/*代码高亮+代码行数*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  font: 13px/19px SF Mono, Roboto Mono, Menlo, Consolas, Monaco, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; }

code.hljs {
  padding: 3px 5px; }

.hljs {
  color: #abb2bf;
  background: #282c34; }

.hljs-comment, .hljs-quote {
  color: #5c6370;
  font-style: italic; }

.hljs-doctag, .hljs-formula, .hljs-keyword {
  color: #c678dd; }

.hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
  color: #e06c75; }

.hljs-literal {
  color: #56b6c2; }

.hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
  color: #98c379; }

.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
  color: #d19a66; }

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
  color: #61aeee; }

.hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
  color: #e6c07b; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: 700; }

.hljs-link {
  text-decoration: underline; }

.wp-code {
  position: relative; }

.wp-code .hljs ul {
  list-style-type: none;
  padding: 0px;
  margin: 0; }

.wp-code .hljs ul > li {
  margin: 0 !important;
  line-height: 14px;
  word-break: break-all;
  word-wrap: break-word;
  counter-increment: customlistcounter;
  display: flex;
  align-items: center; }

.wp-code .hljs ul > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  min-width: 2em;
  margin-right: 10px;
  color: #616875;
  text-align: right; }

.wp-code .hljs ul > li > li:before {
  height: 100%;
  width: 1px;
  background: #000; }

.wp-code .hljs ul > li > li {
  flex: 1;
  border-left: 1px solid #505050;
  padding: 0px 5px 0px 10px;
  line-height: 1.5em; }

.btn-clipboard {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 5px; }

/*# sourceMappingURL=common.css.map */
