/* WIDGETS */

.widget-area ul {
	padding-left: 0px;
}


/* =Widgets
----------------------------------------------- */

.widget {
	background: $gray-2;
	margin: 0 0 20px 0;
	padding: 1.2em;

	select {
		max-width: 100%;
	}


	&.widget_image{
		padding:0px;
		background: transparent;
	}
}

.widget-title {
	font-size: 1.9em;
	margin: 0 0 0.4em;
}

.widget_search input[type="search"] {
	width: 94%;
	width: calc( 100% - 1.2em );
}

.widget_search .submit {
	display: none;
}

#wp-calendar {
	background: $gray-0;
	border: 1px solid rgba( $gray-100, 0.13 );

	caption {
		border-top: 1px solid rgba( $gray-100, 0.13 );
		border-right: 1px solid rgba( $gray-100, 0.13 );
		border-left: 1px solid rgba( $gray-100, 0.13 );
		font-size: 1.25em;
		padding: 0.4em;
		text-align: center;
	}
}

.widget_calendar th,
.widget_calendar td {
	text-align: center;
	padding: 0.5em;
}


/* =Widgets
----------------------------------------------- */
td.recentcommentstexttop,
td.recentcommentstextend {
	vertical-align: middle;
}

