.jck-sfr-section,.jck-sfr-sidebar-widget{
    padding: 20px;
}
.jck-sfr-loop-item__title a,.jck-sfr-loop-item h1{
    font-size: 16px;
    color: rgba(0,0,0,.9);
    font-weight: bold;
}
.jck-sfr-loop-item__text{
    color: rgba(0,0,0,.5);
}
.jck-sfr-filters__filter-item-button:after,.jck-sfr-form__choices-vote:after{
    border-color: var(--wp-theme-color) transparent transparent;
}
.jck-sfr-filters__filter-item-button.active,.jck-sfr-form__choices-vote{
    background:var(--wp-theme-color)
}
.jck-sfr-vote-button--voted, .jck-sfr-vote-button--voted:active, .jck-sfr-vote-button--voted:focus, .jck-sfr-vote-button--voted:hover{
    background: linear-gradient(to right,#0174bf 0,#32b2b9 100%);
}
.jck-sfr-sidebar-widget{
    margin: 0;
}
.jck-sfr-form__reveal{
   /* display: block;*/
}
.col-xl-9 .jck-sfr-form{
/*display: none;*/
}
.jck-sfr-filters{
    margin: 0;
}
.jck-sfr-loop-item-wrapper{
    margin: 20px 0;
}
.jck-sfr-loop-item-wrapper--single{
    margin: 0;
}
.jck-sfr-loop-item h1, .jck-sfr-loop-item h2, .jck-sfr-loop-item__title{
    margin-bottom: 4px;
    display: flex;
}
.jck-sfr-loop-item__meta{
    margin-top: 15px;
}