:root {
    --wp-theme-color: #0274be;
    --bs-primary-rgb:2,116,190;
    --wp-theme-hover-color: #2472a5;
    --wp-theme-gray-color: #848b8e;
    --wp-theme-bgcolor: #f0f2f5;
    --wp-theme-gray-outline-color: rgba(34, 36, 38, 0.15);
    --wp-theme-hr: rgba(34, 36, 38, .1) 1px solid;
    --wp-theme-black-color: rgba(0, 0, 0, .6);
    --wp-theme-footer-bgcolor: #1b1c1d;
    --wp-theme-yellow: #fbbd08;
    --wp-theme-boxshadow: 0px 3px 8px 0px rgb(0 0 0 / 8%);
    --bs-font-sans-serif: 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Helvetica, sans-serif;
    --bs-font-monospace: 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Helvetica, sans-serif;
}
.mt-7 {
    margin-top: 5rem!important;
}
.mt-9 {
    margin-top: 7rem!important;
}
.mt-11 {
    margin-top: 9rem!important;
}
.mb-6{
    margin-bottom: 4rem!important
}
.mb-7{
    margin-bottom: 4.5rem!important
}
.my-6{
    margin-top: 3.5rem!important;
    margin-bottom: 3.5rem!important;
}
.mt-n3{
    margin-top: -3rem !important;
}
@media (min-width: 992px) {
.mt-lg-n3{
    margin-top: -3rem !important;
}
}

.my-7{
    margin-top: 4rem!important;
    margin-bottom:4rem!important;
}

.py-8 {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}
/*ul p删除外距、列表样式*/
ul, p, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    background: var(--wp-theme-gray-color)
}
.bottom-05 {
    bottom: 5%!important
}

.tooltip{
    z-index: 1039;
}
.form-check-input:checked, .btn-check:focus + .btn-primary, .btn-primary:focus {
    background-color: var(--wp-theme-color);
    border-color: var(--wp-theme-color);
}
.hide{
    display: none;
}
blockquote {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 1em;
    margin-left: 0px;
    border-left: 3px solid #eee;
    color: #8C8C8C;
}

/*去除所有焦点事件的外边框*/
:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

a ,.page-link{
    text-decoration: none;
    color: var(--wp-theme-color);
}

.heti .bbp-submit-wrapper a, .bbp-meta a {
    color: inherit;
}

a:hover {
    color: var(--wp-theme-color);
}

.bbp-reply-author-name a, .wp-footer a, .plugin .project-top h5 a, .theme-screenshot + .card-body a, .card-title a {
    color: inherit;
}

.nav-link {
    color: rgba(0, 0, 0, .55);
}

.btn a:hover {
    color: inherit;
}

.wp-rich-text p {
    margin: 0;
}
.wp-card {
    box-shadow: var(--wp-theme-boxshadow);
    border-radius: .25rem;
    background: #fff;
}
.btn-primary {
    background-color: var(--wp-theme-color);
    border-color: var(--wp-theme-color);
}

.btn-light {
    color: var(--wp-theme-color);
}
.page-item.active .page-link {

    background-color: var(--wp-theme-color);
    border-color: var(--wp-theme-color);
}
.btn-primary:hover {
    background: var(--wp-theme-hover-color);
    opacity: .9;
}
.nav-item .nav-link:not(.active){
    border: 1px solid #CCC;
    background: #FFF;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     background-color: var(--wp-theme-color);
    border: 1px solid #CCC;
 }


.heti{
    color: #636b6f;
    font-size: 15px;
}

.version {
    background: #000;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 13px;
    margin-left: 10px;
}

.btn-outline-primary {
    border-color: var(--wp-theme-gray-outline-color);
    color: var(--wp-theme-black-color);
}

.btn-outline-primary:hover {
    background-color: var(--wp-theme-color);
}
.btn-primary-soft.active, .btn-primary-soft:focus, .btn-primary-soft:hover {
    background-color: rgba(51, 94, 234, .15);
    color: #335eea;
}

.btn-primary-soft {
    background-color: rgba(51, 94, 234, .1);
    color: #335eea;
}

input:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="reset"]:focus, input[type="search"]:focus, textarea:focus {
    border-color: var(--wp-theme-color);
}

.theme-boxshadow {
    box-shadow: var(--wp-theme-boxshadow);
    border-radius: .25rem;
    border: 0;
}

.wp-nav {
    box-shadow: var(--wp-theme-boxshadow);
    position: -webkit-sticky;

}

section.breadcrumb {
    margin-bottom: 0;
    padding: 15px 0;
    background: var(--wp-theme-bgcolor);
    color: rgba(0, 0, 0, .65);
    position: relative;
}
.wp-breadcrumb {
    color: rgba(0, 0, 0, .65);
}
.navbar-expand-md .navbar-collapse section {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-brand > h1 {
    font-size: 2rem;
    margin: 0;
}

.navbar-nav .dropdown-menu {
    top: 80%;
    box-shadow: var(--wp-theme-boxshadow);
    border: 0;
    padding: 5px 10px;
}

li.menu-item-has-children, .ant-btn {
    position: relative;
}

li.menu-item-has-children > .nav-link::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.navbar-light .navbar-nav li.current-menu-item > .nav-link, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--wp-theme-color) !important;
}

.navbar-light .navbar-toggler {
    color: #f3f3f391;
}

.banner {
    background-color: #0274be;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.banner h1 {
    color: #fff;
}

.sub-banner {
    padding: 1em 0;
}

.sub-banner h1 {
    margin: 0px;
    text-align: left;
    display: flex;
}


.sub-banner h1 span {
    font-size: 1.5625rem;
}

.sub-banner .breadcrumb a {
    color: #fff;

}

.index-banner{
    padding: 4em 0;
}
.index-banner h1{
    margin: 0px 0 18px;
}


.wp-body {
    padding: 1.5rem;
}

.wp-logo {
    width: 200px;
}

.header-search form {
    position: relative;
    display: inline;
}

.header-search input {
    border-radius: 500rem;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    width: 100%;
    padding: 5px 20px;
}

.header-search button {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0;
    background: none;
    color: #000;
    border: 0;
    bottom: 0;
}





img.gravatar.avatar.avatar-40.um-avatar {
    border: 1px solid #fff;
    max-height: 25px;
    max-width: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    margin: -15px 5px -10px 0;
}

img.gravatar.avatar.avatar-40.um-avatar {
    border: 1px solid #fff;
    max-height: 25px;
    max-width: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    margin: -15px 5px -10px 0;
}

.header-sign .sub-menu {
    min-width: 82px !important;
}

.header-sign .sub-menu li {
    font-size: 12px;
}

.header-sign .sub-menu a {
    color: var(--wp-theme-gray-color);
}

/*主页*/
.wp-body, .site-main, .content-area, .search-results {
    background: var(--wp-theme-bgcolor);
    flex: 1;
}

.body {
    flex: 1;
}

.wp-banner {
    border-top: var(--wp-theme-color) 5px solid;
}

.wp-banner .heading-p {
    padding: 0 1.5rem 1.5rem;
    text-align: center;
}

.aside-header {
    border-bottom: var(--wp-theme-hr);
    padding: 10px 0 10px 15px;
}

.aside-accordion-item {
    margin-bottom: 10px;
}

.aside-accordion-item:last-child {
    margin: 0;
}

.aside-accordion-item .accordion-button {
    color: #000000;
    font-size: 15px;
    padding: 5px;
}

.aside-accordion-item .accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
}

.accordion-button::after {
    content: "\f067";
    font-size: 16px;
    color: #000;
    font-weight: 900;
    font-family: 'Font Awesome 5 pro';
    margin-left: auto;
    background: none;
}

.accordion-button:not(.collapsed)::after {
    background: none;
    transform: rotate(0deg);
    content: "\f068";
}

.wp-accordion .accordion {
    padding: 10px;
}

.wp-icon {
    color: var(--wp-theme-color);
}

.wp-aside article {
    padding: 10px 15px;
}

.wp-aside article .wp-img-ground .card {
    display: flex;
    padding: 10px;
    justify-content: center;
    padding-top: 48%;
    position: relative;
}

.wp-aside article .wp-img-ground .card a {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.wp-aside article .wp-img-ground .card a img {
    object-fit: cover;
    margin: auto;
    width: 90%;
}

.wp-aside .small, .wp-aside small {
    font-size: 12px;
}

.wp-aside .accordion-body {
    color: rgba(0, 0, 0, .55);
    font-size: .9rem;
}

.wp-img-ground {
    padding: 10px;
}


.wp-img-ground .col {
    padding: 5px;
}

.wp-img-ground-sm .card {
    border-radius: 50%;
    height: 46px;
    width: 46px;
    justify-content: center;
    padding: 0 7px;
}

.wp-img-ground-sm {
    padding: 8px;
}

.wp-img-ground-sm .col {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.translator-list {
    margin: 10px 0;
}

.translator-list li {
    display: flex;
    margin: 5px;
}

.translator-list li  img {
    width: 40px;
    height: 40px;
    border: 3px double #ddd;
    border-radius: 100% !important;
    margin: 0px 5px 0 0;
}

.translator-list .rank-list__number {
    margin-left: auto;
}

.translator-list em {
    min-width: 35px;
    font-size: 20px;
    color: rgba(0, 0, 0, .4);
    font-style: normal;
    text-align: center;
}

.translator-list li * {
    margin-top: auto;
    margin-bottom: auto
}

.translator-list li:first-child em {
    font-size: 0
}

.translator-list li:first-child em:before {
    content: "\f521";
    font-family: "Font Awesome 5 pro";
    font-weight: 900;
    font-size: 20px;
    color: #0274be;
}

.rank-list__href {
    display: block;
    padding: 0.4em 1.5em;
    text-align: center;
    border-radius: .28571429rem;
    box-shadow: inset 0 0 0 1px rgb(34 36 38 / 15%);
    margin: 7px 15px 18px;
    color: rgba(0, 0, 0, .6);
    font-size: .9rem;
}

.translator-title i {
    margin-right: 10px
}

.wp-banner .btn-group i, .btn-card-group i {
    margin-right: 10px;
}

.wp-banner .heading-text {
    font-size: 25px;
}


.uabb-dual-button a {
    position: relative;
}

.uabb-btn-one, .uabb-btn-two {
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.middle-text {
    position: absolute;
    top: 50%;
    right: 0;
    height: 32px;
    line-height: 32px;
    width: 32px;
    z-index: 2;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #0274be;
    background: #ffffff;
}

.wp-footer {
    background: var(--wp-theme-footer-bgcolor);
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    position: relative;
}

.wp-code {
    /*word-wrap: break-word;*/
    position: relative;
}

.wp-code .hljs ul {
    list-style: decimal;
    margin: 0px 0px 0 40px !important;
    padding: 0px;
}

.wp-code .hljs ul li {
    /*    list-style: decimal-leading-zero;*/
    border-left: 1px solid #505050;
    padding: 5px !important;
    margin: 0 !important;
    line-height: 14px;
    word-break: break-all;
    word-wrap: break-word;
}

.btn-clipboard {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 5px;
}


.topic-article, .p-20, .wcpv-shortcode-registration-form {
    padding: 20px;
}

#post-52 #lightgallery  h2,#post-52 #lightgallery  h2 + p {
    padding: 0 20px;
}

#post-52 #lightgallery  h2 {
    padding-top: 20px;
}
section.breadcrumb + .wp-body{
padding-top:0 ;
}
.book-article-meta a {
    color: #adb1af;
    margin: 22px 0;
    font-size: .9em;
}

.book-article-meta a:hover {
    color: var(--wp-theme-color);
}

.text-mute {
    color: #a5a5a5 !important;
    font-size: .9em;
}

.book-article-meta .divider {
    color: #cacaca;
    margin: 0 5px;
}

.wp-code pre {
    margin: 0;
    white-space: pre-line;
    display: flex;

}.wp-code pre > ul{
    margin: 0;
     line-height: 23px;
    list-style: none;
 }

.operation-sticker {
    position: absolute;
    left: -75px;
    font-size: 12px;
    min-width: 50px;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) !important;
    min-height: 50px;
    line-height: 50px;
}

.operation-sticker .menu > a {
    display: block;
    line-height: normal;
    padding: 10px;
    color: #a5a5a5;
    position: relative;
}

.operation-sticker .menu > a > i {
    display: block;
}

.operation-sticker .menu > a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(34, 36, 38, .1);
}

.operation-sticker .menu > a:hover {
    background: rgba(0, 0, 0, .03)
}

.operation-sticker .menu a span {
    transform: scale(0.9);
    display: inline-block;
    min-width: 36px;
}

.operation-sticker .menu > a.active {
    color: #0174bf;
}

.operation-sticker.fixed {
    position: fixed;
    left: auto;
    right: auto;
    margin-left: -75px;
    margin-top: -5px;
}






#primary {
    padding: 0 !important;
    float: none !important;
    margin: 0 !important;
}


.loader, .loader:after, .loader:before {
    background: #999;
    -webkit-animation: load1 1s ease-in-out infinite;
    animation: load1 1s ease-in-out infinite;
    width: .5em;
    height: 2em
}

.loader {
    color: #999;
    text-indent: -9999em;
    margin: 30px auto;
    position: relative;
    font-size: 11px;
    transform: translateZ(0);
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.loader:after, .loader:before {
    position: absolute;
    top: 0;
    content: ""
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.loader:after {
    left: 1.5em
}

@-webkit-keyframes load1 {
    0%, 80%, to {
        box-shadow: 0 0;
        height: 4em
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

@keyframes load1 {
    0%, 80%, to {
        box-shadow: 0 0;
        height: 4em
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}




.ui-menu .item-title {
    font-size: 15px;
    color: rgb(85, 85, 85);
}

.ui-menu .item.media {
    display: flex
}

.ui-menu .item-body.media-body {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 0 0 0 15px;
}

.ui-menu .item-body.media-body .item-date {
}

.ui-menu .item-body.media-body .item-desc {
    width: 100%;
    color: #a5a5a5;
}

.ui-menu .item.media > img {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 500rem;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.ui-menu .item-body.media-body .item-date {
    color: #ccc;
}


ul.lava_ajax_search .type-label {
    border: none;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 0 10px;
    padding: 0 0 6px;
    display: block;
}

.none {
    display: none
}

.btn-card-group {
    display: flex;
    flex-wrap: wrap;
}

.card-body.btn-card-group a {
    width: 45%;
    margin: auto;
    font-size: 13px;
}

.serach-menu li {
    list-style: none;
    position: relative;
}

.serach-menu .results-header li a {
    display: flex;
    color: rgba(0, 0, 0, .87);
    padding: .92857143em 1.14285714em;
}

.serach-menu li a .count {
    margin-left: auto !important;
    background: #eaeaea !important;
    color: #909090 !important;
    padding: 0px 10px;
    font-size: 12px;
    border-radius: 5px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    line-height: 22px !important;
}

.serach-menu li a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(34 36 38 / 4%);
}

.lava-ajax-search-result-page-wrap ul.results-tabs li.active, .lava-ajax-search-result-page-wrap ul.results-tabs li:hover {
    background-color: rgb(242 242 242) !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.serach-menu li.active:after {
    position: absolute;
    content: "";
    top: 42%;
    right: -6px;
    transform: rotate(-47deg);
    background: none;
    margin: .5px 0 0;
    width: .57142857em;
    height: .57142857em;
    border: none;
    border-bottom: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;
    z-index: 2;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    background: #f2f2f2;
}

.serach-result .result-item {
    border-bottom: 1px dashed #dae1ea;
    border-bottom: 1px dashed #dae1ea;
    padding: 1rem 0;
}

.serach-result .item-title {
    font-size: 15px;
    color: rgb(85, 85, 85);
}

.serach-result .item.media {
    display: flex
}

.serach-result .item-body.media-body {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 0 0 0 15px;
}

.serach-result .item-body.media-body .item-date {
    margin-left: auto;
}

.serach-result .item-body.media-body .item-desc {
    width: 100%;
    color: #a5a5a5;
}

.serach-result .item.media > img {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 500rem;
    width: 50px !important;
    height: 50px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.serach-result .item-body.media-body .item-date {
    color: #ccc;
}

.serach-result .page-title, .serach-result .result-item a > p, .lava-ajax-search-results .results-group + p {
    display: none;
}

.lava-ajax-search-result-page-wrap div.lava-ajax-search-results h2.results-group-title {
    margin: 0 !important;
}

.serach-result .btn-see-more {
    margin: 20px 0 0;
}

.lava-ajax-search-results {
    display: flex;

}

.lava-ajax-search-result-page-wrap ul.results-tabs li {
    width: 100%;
}

.lava-ajax-search-result-page-wrap ul.results-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px !important;
    box-shadow: var(--wp-theme-boxshadow);
    border-radius: .25rem;
    border: 1px solid #fff0 !important;
}

.lava-ajax-search-result-page-wrap ul.results-tabs li {
    padding: 0 !important;
}

.results-tabs:before {
    content: "分类：";
    padding: 0.528571em 1.14285714em;
    display: block;
    background: #fff;
}

.search-form input[type=search] {
    border-radius: 4px !important;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px !important;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
}

.card-title {
    font-size: 1rem;
}

.heading-xxs {
    font-size: .8125rem;
    font-weight: 500;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.sticky-top {
    z-index: 1040;
}

.wcpv-shortcode-registration-success {
    margin: 15px 20px;
    display: inline-block;
}

.woocommerce_archive_description {
    background: var(--wp-theme-bgcolor);
}

.woocommerce_archive_description main {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0px 0 1.5rem 0;
    border-radius: 4px;
}

.woocommerce_archive .supplier {
    padding-bottom: 0 !important;
}

.wcpv-vendor-logo img {
    border: 1px solid #fff;
    height: 100px;
    max-width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 1px rgb(0 0 0 / 10%);
    -o-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 1px rgb(0 0 0 / 10%);
    margin-right: 10px;
    object-fit: cover;
    margin: auto;
}
.wcpv-vendor-logo + section.supplier{
    box-shadow: none;
    margin-left: 0;
}
.wcpv-vendor-logo + .wcpv-vendor-profile{
margin-left: 15px;
}
.wcpv-vendor-logo + .wcpv-vendor-profile > p{
    margin-bottom: 2px;
}
.wcpv-vendor-logo + .wcpv-vendor-profile section.supplier{
    display: block;
    margin: 0;
}
.wcpv-vendor-logo + .wcpv-vendor-profile .wcpv-star-rating.star-rating{
    margin: 0!important;
}
.results-body {
    width: 100%;
}

.heti .icon-content i[class*="fa"] {
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.heti i[class*="fa"] {
    font-style: normal;
}

.dropdown-divider + .bbp-body {
    padding-top: 10px;
}

.icon-content {
    display: flex;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    white-space: pre-wrap;
}

.heti .fa-ul {
    list-style-type: none;
    padding-inline-start: inherit;
    margin-bottom: 10px;
}

.forum_menu {
    display: flex;
    flex-wrap: wrap;
}

.comments-area .comment {
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.comments-area .comment > ul.children{
    margin-left: 48px;

}

.comments-area .comment img.avatar {
    box-shadow: 0 1px 10px 0 #a3b4bf !important;
    border: 1px solid #fff !important;
    border-radius: 100% !important;
    width: 2em;
    height: auto;
    margin: 0px auto 0;
}

.comment-form img.avatar {
    box-shadow: 0 1px 10px 0 #a3b4bf !important;
    border: 1px solid #fff !important;
    border-radius: 100% !important;
    margin-right: 10px;
}

.comments-title {
    margin-bottom: 1em;
}

.comment-list {
    padding: 0;
}

.comment-list cite, .comment-list cite a {
    font-style: normal;
    color: #595959;
    margin-right: 5px;
}

.comment-list cite .label-info {
    color: #0274be !important;
    border: #0274be 1px solid;
    padding: 0px 5px;
    border-radius: 3px;
}

.wp-reply-author {
    font-size: 12px;
    padding: 8px 5px;
    /*border-bottom: #d3e0e9 1px solid;*/
}

.wp-author-avatar {
    margin-right: 12px;
}

.wp-reply-article {
    /*    box-shadow: 0 1px 10px 0 #e0e5e8;
        border: 1px solid #d3e0e9;*/
    background: #fff;
    font-size: 14px;
    border-radius: 3px;
    position: relative;
    flex: 1;
}

/*.wp-reply-content {
    padding: 0 5px;
}*/

.wp-reply-meta {
    display: flex;
    padding: 5px;
    margin-top: 10px;
}

.wp-reply-meta a {
    color: rgb(0 0 0 / 41%);
    margin: 0 5px 0 0;
}

.wp-reply-author time {
    color: #bfbfbf;
    white-space: nowrap;
}

.comments-area li.comment:before {
    content: "";
    position: absolute;
    left: 16px;
    top: 40px;
    bottom: 8px;
    width: 0;
    border-left: 1px dashed #e8e8e8;
}

.comments-area li.comment:last-child:before {
    display: none
}

.ltp-single-content .comment_form_sign p {
    line-height: 2.5em;
}

.ltp-single-content .comment_form_sign {
    background: #fafcff url(https://gw.alipayobjects.com/zos/bmw-prod/3c6e1fe4-2b10-466a-84c2-76dfa1099ad6.svg) no-repeat;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    position: relative;
    padding: 10px;
    background-size: cover;
}

.ltp-single-content .comment-form-comment label, .ltp-single-content .comment-reply-title {
    display: none;
}

.ltp-single-content .comment-form, .ltp-single-content .comment-form-comment {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.ltp-single-content #comment {
    width: 100%;
    margin-bottom: 10px;
}

.ltp-single-content .comment-form {
    border-top: var(--wp-theme-hr);
    padding-top: 20px;

}

.comment-list + .comment-respond .comment-form {
    border: 0;
}

.heti p {
    margin-block-start: 0 !important;
    margin-block-end: 8px !important;

}

.tooltip-inner {
    max-width: 275px;
}

.wp-caption-text {
    text-align: left !important;
}

.promoters .wp-btn-group i {
    margin-right: 10px;
}

.promoters .wp-btn-group a {
    margin-right: 20px;
}

.promoters .wp-btn-group a:last-child {
    margin: 0;
}

.promoters .placeholder {
    height: 180px;
    background: var(--wp-theme-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    font-size: 20px;
    text-align: center;
}

.promoters .promoters-card a {
    color: inherit;
}

.promoters .promoters-card .card-text {
    color: rgba(0, 0, 0, .65);
    font-size: .875em;
}

.promoters .promoters-card img {
    height: auto;
    max-width: 100%;
}

.promoters-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.promoters .promoters-card .card-title {
    text-align: center;
}

.wp-notice {
    color: var(--wp-theme-color);
}

.bbp-reply-content.heti > p {
    word-break: break-word;
}
.lg-container :after,.lg-container :before{
    font-family: 'Font Awesome 5 Pro';
}
.lg-toolbar .lg-close:after {
    content: '\f00d'!important;

}
.lg-next:before{
    content: '\f061'!important;
}
.lg-toolbar .lg-download:after {
    content: '\f33d'!important;
}
.lg-prev:after{
    content: '\f060'!important;
}
.results-navigation  .page-link{
    display: flex;
}
.btn-small {
    font-size: 13px!important;
}

.menu-item  .um-notification-b{
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 17px !important;
    right: 25px;
    bottom: 25px;
    border-radius: 999px;
    background: var(--wp-theme-color) !important;
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 1px 3px 0 var(--wp-theme-color);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    z-index: 50;
}



.um-notification-header {
    padding: 0;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.um-notification-header a {
    outline: 0!important
}

.um-notification-left {

    font-size: 15px!important;
    font-weight: 600;
    padding: 15px 20px;
    border-bottom: 3px solid #444;
    position: relative;
    top: 2px;
    cursor: default
}

.um-notification-right {
    margin-left: auto;
    padding-right: 22px;
    padding-top: 13px
}

.um-notification-i-close,.um-notification-i-settings {
    font-size: 18px;
    color: #888!important;
    text-decoration: none!important;
    display: block;
    float: left;
    padding-left: 20px;
    border-bottom: none!important
}

.um-notification-shortcode .um-notification-i-close {
    display: none!important
}



.um-notification-b.left {
    right: auto;
    left: 25px
}

.um-notification {
    padding: 10px 30px 10px 10px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 12px;
    position: relative;
    padding-left: 66px;
    cursor: pointer;
    line-height: 1.5em;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.um-notification.read:hover,.um-notification:hover {
    background: #f9f9f9
}

.um-notifications-root {
    position: relative;
    height: 100%
}

.um-notifications-none {
    cursor: default;
    border: 0;
    font-size: 14px;
    position: absolute;
    top: 45%;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #bbb
}

.um-notifications-none i {
    display: block;
    margin: 0 auto 10px auto
}

.um-notifications-none i:before {
    height: 54px;
    font-size: 54px;
    color: #ddd
}

.um-notification-shortcode .um-notifications-none {
    position: relative;
    padding: 50px 0;
    min-height: 200px
}

.um-notification.unread {
    background: #f9f9f9
}

.um-notification.read {
    background: 0 0
}

.um-notification-photo {
    position: absolute;
    left: 12px;
    top: 9px;
    width: 40px;
    height: 40px;
    border-radius: 999px
}

.um-notification span.b1 {
    color: #999
}

.um-notification span.b2 {
    color: #aaa;
    display: block;
    line-height: 1.6em
}

.um-notification span.b2 i {
    margin-right: 5px;
    font-size: 15px;
    position: relative;
    top: 1px
}

.um-notification-more {
    display: none
}

.um-notification-hide {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 18px;
    text-align: center
}

.um-notification-hide a,.um-notification-hide i {
    text-decoration: none!important;
    border-bottom: none!important;
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    text-align: center;
    line-height: 18px
}

.um-notification-hide a {
    color: #888!important
}

.um-notification-live {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block
}

.um-notification-live i {
    font-size: 24px;
    display: inline-block;
    width: 24px;
    transition: none
}

.um-notification-live-count {
    position: absolute;
    right: -14px;
    top: -6px;
    background: red;
    color: #fff;
    display: block;
    font-size: 11px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 999px;
    text-align: center;

}
.count-0{display: none;}
.um-notification-live-feed {
    display: none;
    position: fixed;
    z-index: 556665;
    background: #fff;
    width: 400px;
    box-shadow: 0 1px 3px #888;
    overflow: auto;
    top: 0;
    height: 100%;
    transition: .1s right ease-in;
    -o-transition: .1s right ease-in;
    -ms-transition: .1s right ease-in;
    -moz-transition: .1s right ease-in;
    -webkit-transition: .1s right ease-in;
    right: 0;
}

.um-notification-live-feed-inner {
    position: relative;
    height: 100%
}

.um-notification-live-feed-inner .um-notification {
    font-size: 12px
}

.um-notification-live-feed .um-notification-more {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 13px
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: 0;
    color: var(--wp-theme-color);
    background: none;
    position: relative;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    background-color: #0064AB;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}
.nav-item .nav-link:not(.active){
    border: 0;
    background: none;
}

.blog-article-list .post-meta{
    color: #777;
font-size: 13px;
}

.blog-article-list .des,.breadcrumb_last{
color: rgba(0, 0, 0, .65);
}

.blog-article-list .event ,.result-list{

    border-bottom: 1px dashed #dae1ea;
}
.blog-article-list .event:last-child ,.result-list:last-child{
    padding-bottom: 0!important;
    border-bottom: none;
}


.search-banner a{
    color: inherit!important;
}
.result-info{
    color: #676767;
}
.result-list   .thumbnail img{
    max-width: 60px;
    height: auto;
}
.blog-aside  .wp-block-latest-comments{
padding: 0;
    margin: 0;
}
.blog-aside  aside > li{
    box-shadow: var(--wp-theme-boxshadow);
    border-radius: .25rem;
    border: 0;
    background: #fff;
    padding:0 15px 10px;
    margin-bottom: 10px;
}
.blog-aside .wp-block-group__inner-container > h2{
    font-size: 16px;
    border-bottom: var(--wp-theme-hr);
    padding: 10px 0 10px 0px;
}
.blog-aside .wp-block-latest-comments__comment article{
    font-size: 12px;
}
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-left: 4.25em;
}
@media screen and (min-width: 768px) {
    li.menu-item-has-children:hover .dropdown-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        box-shadow: none;
    }

    .navbar-brand img {
        width: 150px;
    }

    .wp-body {
        padding: 1rem 0;
    }

    .btn-group {
        display: block;
    }

    .btn-group .middle-text {
        display: block;
        position: relative;
        margin: auto;
        transform: none;
    }

    .wp-banner .heading-text {
        font-size: 18px;
    }

    .wp-banner .heading-p {
        text-align: justify;
        font-size: 14px;
        width: 84%;
        margin: auto;
    }

    .wp-banner .heading-p br {
        display: none;
    }

    .wp-aside {
        margin-top: 20px;
    }

    .btn-group button {
        font-size: 14px;
        min-width: 70%;
        padding: 10px 15px;
    }


    .ajax-loading .fas.fa-search {
        display: inline-block !important;
    }


    #site-header .navbar-collapse nav {
        width: 100%;
    }

    .wp-nav .header-search {
        width: 100%;
        order: -1;
        margin: 10px 0;
    }

    .navbar-nav {
        width: 100%;
    }

    .header-sign {
        margin-left: 0 !important;
    }

    .bbp-pagination {
        flex-wrap: wrap;
    }

    .bbp-pagination-links {
        width: 100%;
        margin-top: 20px;
    }

    .forum_menu li a {
        font-size: 12px;
        margin: 5px;
    }

    .bbp-topic-permalink {
        font-size: 12px;
    }


    .sub-banner h1 {
        justify-content: center;
        margin-bottom: 10px;
    }

    .sub-banner .text-end {
        text-align: center !important;
        margin-bottom: 10px;
    }

    .projects .card {
        margin: 10px 0;
    }

    .filter-bulk {
        position: relative !important;
        top: 0 !important;
    }

    .editor .strings {
        float: none;
    }

    .editor .meta {
        width: 100%;
    }

    .heti p {
        text-align: initial !important;
    }
}

