/* LINKS */
// very basic styles up for links when no other styles are present. Mostly colors.


.entry-content p a,
.comment-content p a,
.entry-content li a,
.comment-content li a {
	text-decoration: underline;
}

/* Links */
a,
a:visited,
a:active,
.entry-meta .entry-actions:hover a,
.entry-meta .entry-actions:hover a:visited,
.comment-meta .comment-actions:hover a,
.comment-meta .comment-actions:hover a:visited,
#help dt,
#media-buttons .button,
.responsive-link {
	color: $blue-10;
}

a:hover, h1 a:hover,
.entry-meta .entry-actions:hover a:hover,
.comment-meta .comment-actions:hover a:hover,
#media-buttons .button:hover,
.responsive-link {
	color: $blue-30;
}